@{
    ViewData["Title"] = "Cards";
}
<h1>Trabalhando com Cards</h1>

<div class="cardbase">
    <img class="cardimg" src="~/img/ventura.jpg" alt="Imagem de exemplo" width="300" height="150">
    <h2 class="cardh2"><b>MacOs</b> Ventura</h2>
    <p class="cardp">
        Esta é a imagem do MacOs Ventura ta!
    </p>
    <select class="form-control">
        <option>Macos Catalina</option>
        <option>Macos Sequoia</option>
        <option>Macos Ventura</option>
        <option>Macos BigSur</option>
    </select>
    <br />

    <a class="btn btn-outline-success">Download</a>
</div>

<div class="card bg-dark text-white">
  <img src="~/img/soquoia.png" class="card-img" alt="...">
  <div class="card-img-overlay">
    <h5 class="card-title">Macos Sequoia</h5>
    <p class="card-text">Ja esta esta disponivel para download</p>
    <p class="card-text">Adicionado em 16-08-2025 as 1h00</p>
  </div>
</div>
<br />
<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="~/img/logo.png" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Login Logotipo</h5>
                <p class="card-text">Logotipo do login</p>
                <p class="card-text"><small class="text-muted">Ultima atualizacao 2h</small></p>
            </div>
        </div>
    </div>
</div>