@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Do-While</h1>
</div>
<style>
    .meu{
        background-color:teal;
        color:whitesmoke;
        border-radius:15px;
        padding:5px;
    }
</style>
<form>
    <input id="texto" type="text" class="form-control" />
    <input type="button" value="Fechar" class="meu"/>
    <input type="button" value="Fechar" class="btn btn-outline-primary"/>
    <input type="button" value="Fechar" class="btn btn-success"/>
    <input type="button" value="Fechar" class="meu"/>
    <br/>
</form>
<div class="alert alert-danger">
    @{
        List<string> Nomes = new List<string>()
        {
            "Nao","Sim"
        };
        string[] Di = new string[2];

        int count = 0;
        do
        {
            <h1>@Nomes[count]</h1>
            count++;

        } while (count < Nomes.Count);
    }
</div>


<div class="card">
    
    <h2>Título do card</h2>
    <p>Descrição do card.</p>
    <button>Saiba mais</button>
</div>
 
<script>
    document.get
</script>