html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.field-validation-error {
    color: red;
}

.cardbase {
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

    .cardh2 {
        font-family: helvetica;
        font-size: 24px;
        margin-bottom: 10px;
    }

    .cardp {
        font-family: helvetica;
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 20px;
    }

    .cardimg {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

.cardbtn {
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #001A31;
    color: white;
}
