@{
    ViewData["Title"] = "Adicionar Pessoa";
}
@{
    if (Convert.ToString(ViewBag.msg) == "Adicionada com sucesso")
    {
        <div class="alert alert-success">
        <h1 class="display-4">@ViewBag.msg.ToString()</h1>
        <a asp-controller="Pessoa" asp-action="Index">Ver pessoas</a>
        </div>
    }
}
<div>
    <form method="post">
        <input class="form-control" placeholder="Nome da pessoa" name="nome" />
        <br />
        <input class="form-control" type="number" placeholder="Ano de nascimento" name="ano" />
        <br />
        <input class="form-control" type="number" placeholder="Altura" name="altura" />
        <br />
        <input class="btn btn-success" type="submit" value="Adicionar" />

    </form>
</div>
@section Scripts{
<script type="text/javascript">
    function openSucscessModal(mensagem) {
    var mydiv = document.getElementById("modalAlertBody");

    mydiv.innerHTML = mensagem;
        $('#modalSuccess').modal('show');
    }

    $(document).ready(function () {
    var sms = "@TempData["SuccessMessage"]";

    if (sms)
        openSucscessModal(sms);
    });

    $('#closemodal').click(function () {
        $('#modalSuccess').modal('hide');
    });
</script>
}