@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">@ViewBag.Mensagem</h1>
    <p>Esta é a sua visita de número @ViewBag.Contagem.</p>
    <p>Tente atualizar a página para ver a contagem aumentar.</p>
</div>