@{
    ViewData["Title"] = "Usuários"; 
}
<h1>Usuarios</h1>
<a class="btn btn-success" asp-controller="User" asp-action="Novo">Cadastrar Usuario</a>
<a class="btn btn-dark" asp-controller="User" asp-action="Editar">Editar usuario</a>