@model UserModel
@{
    ViewData["Title"] = "Login";
}

<div class="d-flex justify-content-center mt-5">
    <div class="w-100" style="max-width: 400px;">
        <form asp-controller="User" asp-action="LoginLogar" method="post">
            <div class="form-group mb-3">
                <label>Login</label>
                <input class="form-control" asp-for="Login" placeholder="Login" name="login" />
                @Html.ValidationMessageFor(m => m.Login)
            </div>

            <div class="form-group mb-3">
                <label>Password</label>
                <input class="form-control" asp-for="Password" placeholder="Password" name="password" />
                @Html.ValidationMessageFor(m => m.Password)
            </div>

            <button type="submit" class="btn btn-primary w-100">Login</button>
        </form>
    </div>
</div>
